@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('/ethereum-bg.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Inter', sans-serif;
}
